 **********************************************************************
 The credentials you used to access this information system (IS) have
 been authenticated. By remaining connected, you declare that you are
 the authorized user of these credentials and agree to the terms of
 use of this IS.

 All activities performed on this device are logged and monitored.

 Unauthorized attempts to elevate privilege or attempts to circumvent
 system security will result in civil and/or criminal penalties.
 **********************************************************************

